.login-wrap {
    border-radius: 5px;
    overflow: hidden;
}


.email::-webkit-input-placeholder {
    color: white;
}

.password::-webkit-input-placeholder {
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}
