.todo-wrapper {
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    background: white;
}

.todo-app {
    background: white;
}

.heading {
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    justify-content: center;
    display: flex;
}


.txttodo {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    padding: 16px 16px 16px 60px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
    font-size: 24px;
    line-height: 1.4em;
}

.todo-list {
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    padding: 15px 10px;
    display: flex;
    align-items: center;
}

.todo-list li .toggle {
    height: 20px;
    width: 30px;
}


.todo-list li .list-item-todo {
    flex: 1 0;
    padding-left: 10px;
}

.todo-list li .list-item-input {
    width: 100%;
    font-size: 24px;
    line-height: 1.4em;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.todo-list li .close {
    -webkit-text-stroke: 3px white;
    color: #cc9a9a;
}

.footer {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}